<div class="container">
    <div class="wrapper__block">
        <div class="block__header">
            <div class="header__info">
                <h1 class="info__title">Plan your day!</h1>
                <div class="info__user">
                    <h2 class="user__status">User:</h2>
                    <h2 class="user__name">Ivan Ivanov.</h2>
                    <h2 class="user__count">Count of Task {{ taskArray.length }}</h2>
                </div>
            </div>
            <div class="header__forms">
                <input [(ngModel)]="inputValue" class="forms__input" type="text">
                <input (click)="getInputValue()" class="forms__button" type="submit" value="Add">
            </div>
        </div>
        <div class="block__main">
            <app-task-child [taskArrayFromParent]="taskArray"></app-task-child>
        </div>
    </div>
</div>







