// .container {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     margin-top: 40px;
// }

// .block {
//     width: 500px;
//     height: 300px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: blue;
// }

// .hovered {
    
// }

// .img {
//     height: 200px;
// }

.container {
    width: 100%;
    // margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.wrapper {
    width: 980px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    &__item {

        &_wrapper {
            width: 14%;
            text-align: center;
        }
    }
}

.header {

    &__item {
        text-align: center;
    }
}
.table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    &__header {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__item {
        width: 140px;
    }

    &__main {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
.main {

    &__table {

        &_item {
            height: 80px;
            border: 1px solid lightgray;
            padding: 20px;
            display: flex;
            justify-content: flex-end;
            font-size: 18px;
            color: gray;
            transition: .4s;

            &:hover {
                background: lightgray;
            }
        }            
    }
}

.block {
    width: 500px;
    height: 200px;
    background: red;
    border-radius: 10px;
    text-align: center;
}
