<div class="main__titles">
    <div class="titles__info">
        <p class="titles__sharp">#</p>
        <p class="titles__task">Task</p>
        <p class="titles__check">Check</p>
        <p class="titles__progress">DONE/IN PROGRESS</p>
    </div>
    <div class="titles__buttons">
        <p class="titles__edit">Edit</p>
        <p class="titles__delete">Delete</p>
    </div>
</div>

<div class="task__wrapper">
    <div class="main__task" *ngFor="let task of taskArrayFromParent; index as i">
        <h3 class="task__count">{{ i + 1 }}</h3>
        <p class="task__name">{{ task.taskName }}</p>
        <div class="task__checkbox">
            <input (click)="isCheckboxChecked(i)" class="checkbox__item" type="checkbox">
        </div>
        <p class="task__done" [ngClass]="{'done': task.taskCheck, 'in-progress': !task.taskCheck}">
            {{ task.taskCheck ? 'Done' : 'In PROGRESS' }}
        </p>
        <input (click)="editTask(i)" [disabled]="isEditActive" class="task__edit" type="submit" value="Edit">
        <input (click)="removeTask(i)" [disabled]="!task.taskCheck" class="task__delete" type="submit" value="Delete">
    </div>
</div>

<div class="edit__area" *ngIf="isEditActive">
    <input [(ngModel)]="editAreaInput" class="area__input" type="text">
    <input (click)="saveChanges()" class="area__button" type="submit" value="Save">
</div>
