<div class="container">
    <div class="header__wrapper">
        <h1 class="header__wrapper_title">Angular list of previous tasks</h1>
    </div>
    <div class="main__wrapper">
        <div class="work__block">
            <div class="work__block_header">
                <p class="work__header_title">Angular list of prohibited words</p>
            </div>
            <div class="work__block_main">
                <div class="work__image_wrapper">
                    <img class="work__image" src="/test-angular/assets/images/prohibited-words.png" alt="">
                </div>
                <div class="work__wrapper_desc">
                    <h3 class="work__desc">Angular list of prohibited words</h3>
                </div>
            </div>
            <div class="work__block_footer">
                <button class="work__footer_button" type="button" routerLink="/works/cenzor">Details</button>
            </div>
        </div>

        <div class="work__block">
            <div class="work__block_header">
                <p class="work__header_title">Angular task list</p>
            </div>
            <div class="work__block_main">
                <div class="work__image_wrapper">
                    <img class="work__image" src="/assets/images/task-list.png" alt="">
                </div>
                <div class="work__wrapper_desc">
                    <h3 class="work__desc">Angular task list</h3>
                </div>
            </div>
            <div class="work__block_footer">
                <button class="work__footer_button" type="button" routerLink="/works/userlist">Details</button>
            </div>
        </div>

        <div class="work__block">
            <div class="work__block_header">
                <p class="work__header_title">Angular users list</p>
            </div>
            <div class="work__block_main">
                <div class="work__image_wrapper">
                    <img class="work__image" src="/assets/images/userslist.png" alt="">
                </div>
                <div class="work__wrapper_desc">
                    <h3 class="work__desc">Angular users list</h3>
                </div>
            </div>
            <div class="work__block_footer">
                <button class="work__footer_button" type="button" routerLink="/works/tasklist">Details</button>
            </div>
        </div>
    </div>
</div>

