<!-- fifth task -->

<div class="container">
    <div class="wrapper__inner">
        <div class="inner__header">
            <h2 class="header__default">Bad words:</h2>
            <h2 class="header__bad">{{ array.join(', ') }}</h2>
        </div>
        <div class="inner__main">
            <div class="main__info">
                <input 
                    [(ngModel)]="inputValue"
                    (input)="checkInput()"
                    #infoInput class="info__input" type="text" 
                    placeholder="Word here"
                >
                <input
                    [disabled]="isButtonDisabled"
                    (click)="showText()"
                    class="info__add" 
                    type="submit" 
                    value="Add"
                >
                <input (click)="resetText()" class="info__reset" type="submit" value="Reset">
            </div>
            <div class="main__textarea">
                <textarea [(ngModel)]="textareaValue" #textareaItem class="textarea__item" cols="30" rows="10" placeholder="Text here.."></textarea>
            </div>
        </div>
        <div class="inner__footer">
            <input (click)="checkTextarea()" class="footer__button" type="submit" value="Cenzor">
        </div>
    </div>
</div>

