<div class="container">
    <div class="wrapper__fields">
        <div class="fields__login">
            <p class="login__text">Login</p>
            <input [(ngModel)]="userData.login" class="login__input input__field" type="text" placeholder="Enter login">
        </div>
        <div class="fields__password">
            <p class="password__text">Password</p>
            <input [(ngModel)]="userData.password" class="password__input input__field" type="password" placeholder="Enter password">
        </div>
        <div class="fields__email">
            <p class="email__text">Email address</p>
            <input [(ngModel)]="userData.email" class="email__input input__field" type="email" placeholder="Enter email">
        </div>
        <div class="fields__button">
            <ng-container *ngIf="!editStatus; else elseTemplate">
                <button (click)="addUser()" class="button__item" type="button">Add user</button>
            </ng-container>
            <ng-template #elseTemplate>
                <button (click)="saveEditUser()" class="button__item button__item_edit" type="button">Edit user</button>
            </ng-template>
        </div>
    </div>
    <div class="wrapper__list">
        <div class="list__menu">
            <p class="menu__item">#</p>
            <h3 class="menu__login">Login</h3>
            <h3 class="menu__password">Password</h3>
            <h3 class="menu__email">Email</h3>
            <h3 class="menu__edit">Edit</h3>
            <h3 class="menu__delete">Delete</h3>
        </div>
        <div class="list__users">
            <ng-container *ngIf="isButtonClicked">
                <div class="list__container" *ngFor="let user of userList; index as i">
                    <div class="container__counter">{{ i + 1 }}</div>
                    <div class="container__login">{{ user.login }}</div>
                    <div class="container__password">{{ user.password }}</div>
                    <div class="container__email">{{ user.email }}</div>
                    <div (click)="editUser(i)" class="container__edit">Edit</div>
                    <button (click)="deleteUser(i)" [disabled]="editStatus" class="container__delete" type="button">Delete</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>