.header {
    
    &__wrapper {
        width: 100%;
        background: rgb(241, 241, 241);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
        
        &_title {
            color: rgb(32, 32, 32);
		}
	}
}
.nav {

		&__wrapper {
            width: 100%;
            height: 60px;
            padding: 0 40px;
            border-bottom: 1px solid lightgray;
            display: flex;
            align-items: center;
            justify-content: space-between;
		}

		&__lastworks {
            display: flex;
            align-items: center;
            gap: 20px;
		}

		&__backto {
            color: red;
            text-decoration: none;
		}

}

.lastworks__cenzor, .lastworks__user, .lastworks__task {
    width: 60px;
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(9, 13, 204);
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
}

.work__active {
    color: rgb(0, 175, 0);
}
 