
<div class="wrapper">
    <div class="header__wrapper">
        <h1 class="header__wrapper_title">Angular list of previous tasks</h1>
    </div>
    <div class="nav__wrapper">
        <div class="nav__lastworks">
            <p class="lastworks__text">Last works >>></p>
            <a class="lastworks__cenzor" routerLink="cenzor" routerLinkActive="work__active">Cenzor</a>
            <a class="lastworks__user" routerLink="userlist" routerLinkActive="work__active">User</a>
            <a class="lastworks__task" routerLink="tasklist" routerLinkActive="work__active">Task</a>
        </div>
        <div class="nav__backhome">
            <a class="nav__backto" routerLink="/">Back to >>> Home</a>
        </div>
    </div>
</div>

<main>
    <router-outlet></router-outlet>    
</main>